@import url('https://fonts.googleapis.com/css?family=Encode+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+sans&display=swap');

.Contenedor{
    background-color: #72CDF4;
    height: 70rem;
}

#Resultado{
    color: black;
    background-color: white;
    display: inline;
    font-size: 2rem;
}

.presentacion{
    text-align: center;
    background-image: url("Routes/Home/ImgPros.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 47rem;
    position: relative;
}

#NuestrosTrabajadores {
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #FFE552;
    padding-bottom: 2rem;

}

.quienes_somos{
    color: #005581;
    text-align: center;
    font-size: 3.5rem;
    padding-top: 1.2rem;
    margin-bottom: 2rem;
    font-family: 'Encode Sans SC', sans-serif;    
}

.Mision{
    background-color: #FFE552;
    height: 20rem;
}

.parrafo{
    color: #005581;
    font-size: 2rem;
    font-family: 'Monserrat', sans-serif;
    text-align: center;
    line-height:3rem
}

.container{
    background-color: white;
    padding: 1.5rem 3rem;
    border-radius: 4px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.content h1{
    font-size: 3rem;
    line-height: 49px;
    max-width: 432px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}
.content p{
    color: #8D9797;
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    font-weight: normal;
    font-size: 1.25rem;
}
.busqueda{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input{
    border: solid 1px #b1b9c3;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    width: 75%;
    text-align: left;
    margin: auto;
    border-radius: 0.8rem;
}
#search{
    font-size: 1rem;
    color: #c2c2c2;
    padding-right: 1rem;
    cursor: pointer;
    
}
#input{
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
#input:focus, textarea:focus, select:focus{
    outline: none;
}

.seccion-destacados{
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    background-color: #004870;
    width:100%;
}
.seccion-destacados h2{
    font-size: 1.5rem;
    font-weight: lighter;
    
}
.trabajadores-destacados{
    padding-top: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    justify-content: space-evenly;
    background-color: #72CDF4;
    margin-left: -1rem;
    margin-bottom: -1.5rem;
    margin-top: 1rem;
}

#valora{
    margin-top: 1rem;
}

.trabajador-destacado{
    box-shadow: 0px 2px 8px rgba(0 0 0 / 25%);
    margin-bottom: 2rem;
    background-color: white;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profileImage img{
    max-width: 10rem;
    height: 8rem;
    padding: 1rem 1rem 1rem 1rem;
}
.presentacion-trabajador{
    padding: 1rem;
}
.presentacion-trabajador h2{
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}
hr{
    border: 1px solid #e5e5e5;
}
.descripcion{
    padding: 0.5rem 1rem;
}
.descripcion p{
    font-size: 1.15rem;
    text-align: justify;
}
.descripcion h2{
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 200;
}

.displayOptions{
    box-shadow: 0 2px 4px 1px rgb(177 185 195 / 30%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #dce0e6;
    background-color: #ffffff;
    display: none;
    position: absolute;
    width: 367px;
    left: 50%;
    transform: translate(-50%);
}
.option{
    padding: 15px;
    cursor: pointer;
    display: block;
}
.option h2{
    color: #242a30;
    text-align: left;
    font-size: 1.3rem;

}
.option:hover{
    background-color: #ececec;
}
.defaultOptions {
    padding: 15px;
    cursor: pointer;
    display: block;
}
.defaultOptions h2 {
    color: #242a30;
    text-align: left;
    font-size: 1.3rem;
}
.defaultOptions:hover{
    background-color: #ececec;
}
.ver-info{
    text-align: center;
    padding-bottom: 15px;
}
.ver-info button{
    background-color: #e5e5e5;
    padding: 8px 5px;
    border-radius: 10px;
    border: solid black 1px;
    cursor: pointer;
}
.presentacion-slogan{
    background-image: url("Routes/Home/ImgPros.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 47rem;
    position: relative;
}
.presentacion-content{
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;
    height: 11rem;
}
#ayuda{
    text-align: center;
    font-size: 2.3rem;
    padding-top: 1rem;
    margin-bottom: 1.6rem;
    font-family: 'Encode Sans SC', sans-serif;
}
.presentacion-slogan:before{
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}
.input-search{
    border: solid 0.12rem #dcd6d6;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    width: 80%;
    text-align: left;
    margin: auto;
    height: 1.3rem;
    border-radius: 0.8rem;
}

.Trabajador a{
    color: #FFD200;
}

.Trabajador p{
    font-family: 'PT Sans', sans-serif;
}

.Trabajador{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70rem;
    margin-top: 3rem;
    
}
#contact-message{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 30px;
    color: black;
    font-family: 'Tajawal', sans-serif;

}
.trabajadorInfo{
    display: flex;
    justify-content: space-around;
    border: #8d9797 solid 1px;
    padding: 30px 0px;
    box-shadow: 0 2px 4px 1px rgb(177 185 195 / 30%);
    border-radius: 10px;
    font-family: 'Tajawal', sans-serif;
    background-color: white;
}

.trabajadorInfo img {
    max-width: 30rem;
    max-height:24rem;
    
}

.presentacionTrabajador h2, h3{
    margin-bottom: 1rem;
    font-size: 1.8rem;
}
.presentacionTrabajador:last-child{
    margin-bottom: 0;
    font-size: 1.2rem;
}

